@font-face {
  font-family: 'Jersey 25';
  src: url('./assets/Jersey25-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Jersey 25', sans-serif;
  font-weight: 100;
  margin: 0;
  background-color: #414141;
}

h3 {
  font-weight: 200;
}